@model Sunshine.Areas.Admin.ViewModels.SubMenus.SubMenusEditViewModel

@{
    ViewData["Title"] = "Редагувати під меню";

}

<h1>Редагувати під меню</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubMenu.Id" />
            <div class="form-group">
                <label asp-for="SubMenu.Name" class="control-label"></label>
                <input asp-for="SubMenu.Name" class="form-control" />
                <span asp-validation-for="SubMenu.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubMenu.Text" class="control-label"></label>
                <input asp-for="SubMenu.Text" class="form-control" />
                <span asp-validation-for="SubMenu.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubMenu.MenuId" class="control-label"></label>
                <select asp-for="SubMenu.MenuId" class="form-control" asp-items="@(new SelectList(Model.Menus, nameof(Menu.Id), nameof(Menu.Name)))">

                </select>
                <span asp-validation-for="SubMenu.MenuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Повернутися назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
