@model Sunshine.Models.New

@{
    ViewData["Title"] = "Редагувати новину (Адмін)";
}

<h1>Редагувати новину</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortText" class="control-label"></label>
                <textarea asp-for="ShortText" class="form-control"></textarea>
                <span asp-validation-for="ShortText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label"></label>
                <img src="@(string.IsNullOrEmpty(Model.Image) ?  "/media/images/noimage.jpg" : Model.Image)" width="200" id="imgUploadPreview">
                <input asp-for="ImageUpload" class="form-control" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зберегти</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Повернутися назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        CKEDITOR.replace("ShortText");
        CKEDITOR.replace("Text");
    $("#ImageUpload").change(function () {
        readURL(this);
    });
    </script>
}